@font-face {
  font-family: Suisse-Int-Bold;
  src: url('Fonts/SuisseIntl-Bold.otf');
}
@font-face {
  font-family: Suisse-Int-Medium;
  src: url('Fonts/SuisseIntl-Medium.otf');
}
@font-face {
  font-family: Suisse-Int-SemiBold;
  src: url('Fonts/SuisseIntl-SemiBold.otf');
}
@font-face {
  font-family: Suisse-Int-Thin;
  src: url('Fonts//SuisseIntl-Thin.otf');
}


body {
  margin: 0;
  font-family: 'Suisse-Int-Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
